[Desktop Entry]
Name=Melody
Exec=/usr/lib/Melody/Melody %U
Icon=/usr/share/pixmaps/Goose.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/goose;