[Desktop Entry]
Name=Melody
Exec=/usr/lib/melody/Melody %U
Icon=/usr/share/pixmaps/goose.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/goose;